/* admin page styling here */
*{ margin: 100; padding: 100;
    box-sizing: border-box;}
    
    .header {width: 100%;
    background-color: rgb(33,82,163);
    color: black;
    }

    h1 {
        color: aliceblue;
    }
    
    h2 {
        color: aliceblue
    }