/*client styling*/
*{ margin: 100; padding: 100;
    box-sizing: border-box;}
    
    .header {width: 100%;
    background-color: rgb(33,82,163);
    color: black;
    }
    
    .form {
        margin: auto;
        max-width: 500px;
    }

    input{
        display: inline-block;
        width: 90%;
    }

    h1 {
        color: aliceblue;
    }
    
    h2 {
        color: aliceblue
    }